# ---- Python ----
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/
venv/
env/
ENV/

# Distribution / packaging
build/
dist/
*.egg-info/
.eggs/

# Logs & debug
*.log
*.out
*.err
*.sqlite3
*.db

# Jupyter / notebooks
.ipynb_checkpoints/

# IDE / Editors
.vscode/
.idea/
*.swp

# ---- Environment & Secrets ----
.env
*_env
secrets*.json
config.local.yaml

# ---- Docker ----
*.pid
*.seed
*.pid.lock

# ---- OS Files ----
.DS_Store
Thumbs.db

# ---- Coverage / Testing ----
.coverage
htmlcov/
.tox/
.pytest_cache/
.mypy_cache/


*.sqlite
*.sqlite-shm
*.sqlite-wal
*.sqlite-journal
.pytest_cache/