# Web + API
fastapi==0.112.2
uvicorn[standard]==0.30.6
httpx==0.27.2

# Config & validation
python-dotenv==1.0.1
pydantic==2.9.2
pydantic-settings==2.5.2

# Data & utils
redis==5.0.7
requests
numpy
dateparser
oracledb
psycopg2-binary
PyMySQL
python-multipart
PyYAML
requests
